* {
    list-style: none;
}

.clear {
    clear: both;
}

header {
    nav {
        ul {
            margin: 0;
            padding: 0;
            li {
                float: left;
                margin-right: 20px;
                a {
                    display: block;
                }
            }

            &:after {
                content: '';
                display: inline-block;
                clear: both;
            }
        }
    }
}