* {
  list-style: none;
}

.clear {
  clear: both;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  float: left;
  margin-right: 20px;
}

header nav ul li a {
  display: block;
}

header nav ul:after {
  content: "";
  display: inline-block;
  clear: both;
}

