body {
    font-family: "Gotham XNarrow";
    font-size: 14px;
    min-width: 1020px;
}

textarea {
    resize: none;
}

.bg-grey {
    background: #e5e5e5;
}

.spacer-5 {
    height: 5px;
}

.spacer-10 {
    height: 10px;
}

.spacer-15 {
    height: 15px;
}

.spacer-20 {
    height: 20px;
}

.spacer-30 {
    height: 30px;
}

.spacer-44 {
    height: 44px;
}

a, a:hover, a:visited, a:focus {
    color: inherit;
    text-decoration: none;
}

.image-center {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}

.advertisement {
    margin-bottom: 20px;
    text-align: center;
}

.container {
    margin: 0px auto;
    padding: 0px;
    width: 980px;
}

header .logo {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 90px;
}

header .logo .pull-left {
    margin-top: 19px;
    width: 225px;
    height: 52px;
}

header .logo .pull-right {
    width: 728px;
    height: 90px;
    overflow: hidden;
}

.sondakika {
    margin-bottom: 20px;
    padding: 5px;
    width: 980px;
    height: 35px;
    line-height: 25px;
    background: #e3151b;
    color: #fff;
}

.sondakika .inner {
    position: absolute;
    width: 10000px;
    height: 25px;
}

.sondakika .inner .content {
    display: inline-block;
    margin-right: 20px;
}

.sondakika .pull-left {
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    line-height: 25px;
    background: url(../images/ellipse.png) right center no-repeat;
}

.sondakika .pull-right {
    position: relative;
    width: calc(100% - 120px);
    height: 25px;
    text-align: left;
    font-style: italic;
    overflow: hidden;
}

header nav {
    background: #e3151b;
    color: #fff;
    overflow: hidden;
}

header nav, footer nav {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-transform: uppercase;
}

header nav a, footer nav a {
    display: inline-block;
    width: auto;
}

header nav a:hover, footer nav a:hover, header nav a.active, footer nav a.active {
    text-decoration: underline;
}

header nav a i, footer nav a i {
    width: 21.25px;
}

header nav a:last-child, footer nav a:last-child {
    margin-right: 0px !important;
    float: right;
}

header .submenu, footer .submenu {
    line-height: 30px;
    font-size: 17px;
    text-transform: uppercase;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height .5s; /* Safari */
    transition: max-height .5s;
}

header .submenu.opened, footer .submenu.opened {
    max-height: 500px;
}

header .submenu a, footer .submenu a {
    display: inline-block;
    margin: 5px 20px 0px 0px;
}

header .submenu a:hover, footer .submenu a:hover {
    text-decoration: underline;
}

header .submenu hr, footer .submenu hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-bg {
    height: 20px;
    background: linear-gradient(#d5d5d5, #e5e5e5);
}

.manset-1 {
    position: relative;
    width: 980px;
    height: 460px;
    overflow: hidden;
}

.manset-1 .inner {
    position: absolute;
    width: 14700px;
    height: 400px;
}

.manset-1 .content {
    position: relative;
    float: left;
    width: 980px;
    height: 400px;
    overflow: hidden;
}

.manset-1 .content .image {
    position: relative;
    width: 980px;
    height: 400px;
    overflow: hidden;
}

.manset-1 .content img {
    width: 980px;
    height: auto;
}

.manset-1 .content .title, .manset-1.style-3 .content .title {
    position: absolute;
    padding: 10px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    line-height: 40px;
    background: rgba(0, 0, 0, .5);
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.manset-1 .controls .control {
    float: left;
    position: relative;
    top: 400px;
    width: 54.44px;
    height: 60px;
    line-height: 60px;
    background: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.manset-1 .controls .control.active {
    background: #f28c03;
}

.manset-1 .controls .control.active::before {
    content: "";
    position: absolute;
    background: url(../images/control-bg-1.png) center center no-repeat;
    width: 100%;
    height: 7px;
    top: -7px;
    left: 0px;
}

.manset-1 .controls .control a {
    display: block;
    width: 54.44px;
    height: 60px;
}

.manset-1.style-2 {
    width: 660px;
    height: 329px;
}

.manset-1.style-2 .inner {
    height: 269px;
}

.manset-1.style-2 .content {
    width: 660px;
    height: 269px;
}

.manset-1.style-2 .content .image {
    width: 660px;
    height: 269px;
}

.manset-1.style-2 .content img {
    width: 660px;
}

.manset-1.style-2 .controls .control {
    top: 269px;
    width: 55px;
}

.manset-1.style-2 .controls .control.active {
    background: #72d324;
}

.manset-1.style-2 .controls .control.active::before {
    background: url(../images/control-bg-2.png) center center no-repeat;
}

.manset-1.style-2 .controls .control a {
    width: 55px;
}

.manset-1.style-3 {
    width: 660px;
    height: 310px;
}

.manset-1.style-3 .inner {
    height: 250px;
}

.manset-1.style-3 .content {
    width: 660px;
    height: 250px;
}

.manset-1.style-3 .content .image {
    width: 660px;
    height: 250px;
}

.manset-1.style-3 .content img {
    width: 660px;
}

.manset-1.style-3 .controls .control {
    top: 250px;
    width: 132px;
    opacity: .5;
}

.manset-1.style-3 .controls .control img {
    width: 132px;
}

.manset-1.style-3 .controls .control.active {
    opacity: 1;
}

.manset-1.style-3 .controls .control a {
    display: block;
    width: 132px;
    height: 60px;
}

.manset-2 {
    margin-bottom: 20px;
    height: 210px;
}

.manset-2 .content {
    position: relative;
    float: left;
    display: block;
    margin-right: 10px;
    width: 188px;
    background: #fff;
}

.manset-2 .content:last-child {
    margin-right: 0px;
}

.manset-2 .content.sondakika {
    background: #000;
    color: #fff;
}

.manset-2 .image {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.manset-2 .image img {
    width: auto;
    height: 150px;
}

.manset-2 .content:hover {
    background: #000;
    color: #fff;
}

.manset-2 .content.sondakika::after {
    position: absolute;
    padding: 2px;
    content: "SON DAKİKA";
    background: #e3151b;
    color: #fff;
    top: 135px;
    right: 10px;
    font-size: 14px;
}

.manset-3 {
    position: relative;
    width: 980px;
    height: 240px;
    margin-bottom: 20px;
    overflow: hidden;
}

.manset-3 .inner {
    position: absolute;
}

.manset-3 .image {
    position: relative;
    width: 980px;
    height: 240px;
    overflow: hidden;
}

.manset-3 .image img {
    width: 980px;
}

.manset-3 .controls {
    position: absolute;
    top: 25px;
    right: 25px;
    font-weight: 900;
}

.manset-3 .controls .control {
    margin-bottom: 10px;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 28px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.manset-3 .controls .control.active {
    background: #fff;
    color: #000;
}

.custom-title {
	margin:0 0 10px 0;
	padding:0;
	font-size:23px;
	font-weight:700;
	border-bottom:2px solid #999;
	position:relative;
	height:37px;
    color: #000;
}
.custom-title span {
	padding:5px 0;
	border-bottom:2px solid #f28c03;
	display:inline-block;
}

.custom-title .index {
	display:inline-block;
	position:absolute;
	right:0;
	font-size:15px;
	margin-top:11px;
	font-weight:300;
	color: #999;
}

.custom-title .index .left, .custom-title .index .right, .custom-title .index .up, .custom-title .index .down {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.custom-title span.green {
    border-color: #72d324;
}

/* .custom-title .arrows {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    height: 20px;
} */

.koseyazarlari {
    position: relative;
    width: 980px;
    height: 170px;
    overflow: hidden;
}

.koseyazarlari .inner {
    position: absolute;
    width: 100000px;
    height: 126px;
}

.koseyazarlari .inner .content {
    float: left;
    position: relative;
    font-family: 'Gotham XNarrow Book';
    margin-right: 10px;
    width: 320px;
    height: 126px;
    background: #f4f4f4;
    overflow: hidden;
}

.koseyazarlari .inner .content .image {
    position: absolute;
    right: 20px;
    top: 13px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #f28c03;
    overflow: hidden;
}

.koseyazarlari .inner .content .image img {
    width: 100px;
    min-height: 100px;
}

.koseyazarlari .inner .content .title {
    position: absolute;
    width: 170px;
    height: 25px;
    line-height: 25px;
    left: 20px;
    top: 20px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.koseyazarlari .inner .content .article {
    position: absolute;
    display: -webkit-box;
    font-style: italic;
    font-size: 18px;
    left: 20px;
    top: 50px;
    width: 170px;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.koseyazarlari .inner .content:last-child {
    margin-right: 0px;
}

.koseyazarlari2 {
    margin-bottom: 10px;
    width: 300px;
    height: 452px;
    overflow: hidden;
}

.koseyazarlari2 .outer {
    position: relative;
    width: 300px;
    height: 408px;
    overflow: hidden;
}

.koseyazarlari2 .inner {
    position: absolute;
    width: 300px;
    height: 10000px;
}

.koseyazarlari2 .inner .content {
    position: relative;
    display: block;
    font-family: 'Gotham XNarrow Book';
    margin-bottom: 10px;
    width: 300px;
    height: 126px;
    background: #f4f4f4;
    overflow: hidden;
}

.koseyazarlari2 .inner .content .image {
    position: absolute;
    right: 20px;
    top: 13px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #f28c03;
    overflow: hidden;
}

.koseyazarlari2 .inner .content .image img {
    width: 100px;
    min-height: 100px;
}

.koseyazarlari2 .inner .content .title {
    position: absolute;
    width: 150px;
    height: 25px;
    line-height: 25px;
    left: 20px;
    top: 20px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.koseyazarlari2 .inner .content .article {
    position: absolute;
    font-style: italic;
    font-size: 18px;
    left: 20px;
    top: 50px;
    width: 150px;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.koseyazarlari2 .inner .content:last-child {
    margin-right: 0px;
}

.section-1 {
    height: 115px;
}

.havadurumu {
    float: left;
    position: relative;
    width: 235px;
    height: 115px;
    background: #f4f4f4;
}

.havadurumu .loading {
    display: none;
}

.havadurumu .loading object {
    position: absolute;
    top: 25px;
    width: 235px;
    height: 90px;
}

.havadurumu .il, .havadurumu .tumu {
    float: left;
    width: 117.5px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-family: 'Gotham XNarrow XLight';
}

.havadurumu .il {
    background: #f28c03;
}

.havadurumu .tumu {
    background: #cac5c5;
}

.havadurumu .tumu select {
    width: 100%;
    padding: 0px 10px;
    background: none;
    color: #fff;
    border: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.havadurumu .tumu select:focus {
    outline: none;
}

.havadurumu .image {
    float: left;
    position: relative;
    width: 90px;
    height: 90px;
    font-size: 45px;
    text-align: center;
}

.havadurumu .image .wi {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.havadurumu .title {
    float: right;
    padding: 10px 0px;
    width: 145px;
    text-align: center;
    font-size: 16px;
    height: 70px;
    line-height: 35px;
    text-transform: uppercase;
}

.havadurumu .title span {
    font-family: 'Gotham XNarrow';
    font-weight: 900;
}

.havadurumu .description {
    display: inline-block;
    width: 130px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.havadurumu .subtitle {
    font-family: 'Gotham XNarrow';
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

.piyasa {
    float: right;
    width: 728px;
    line-height: 25px;
}

.piyasa .fas {
    font-size: 12px;
}

.piyasa .down {
    color: #f94040;
}

.piyasa .up {
    color: #49dc2c;
}

.piyasa table {
    width: 100%;
}

.piyasa table td {
    text-align: center;
}

.section-2 .leftside {
    float: left;
    width: 660px;
}

.section-2 aside {
    float: right;
    width: 300px;
}


.search .content {
    padding: 10px;
    background: #fff;
}

.search input {
    float: left;
    padding: 0px 20px;
    background: #f4f4f4;
    border: none;
    height: 40px;
    width: calc(100% - 40px);
}

.search input:focus {
    outline: none;
}

.search button {
    float: right;
    background: #f4f4f4;
    border: none;
    width: 40px;
    height: 40px;
}

.search button:focus {
    outline: none;
}

.news-title {
    display: -webkit-box;
    margin: 5px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.box-1 .content {
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    background: #fff;
}

.box-1 .content .image {
    position: relative;
    width: 210px;
    height: 150px;
    overflow: hidden;
}

.box-1 .content .image img {
    width: auto;
    height: 150px;
}

.box-1 .content .image .category {
    position: absolute;
    padding: 5px;
    left: 0px;
    bottom: 0px;
    background: #fff;
    text-transform: uppercase;
}

.box-1 .content .image .category.yellow {
    color: #f2c803;
}

.box-1 .content .image .category.pink {
    color: #bd204c;
}

.box-1 .content .image .category.green {
    color: #72d324;
}

.box-1 .content .image .category.orange {
    color: #f28c03;
}

.box-1 .content .image .category.blue {
    color: #208fbd;
}

.box-1 .content .image .icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 30px;
}

.box-1 .content .summary {
    display: none;
}

.box-1 .content:nth-child(3n+1) {
    margin-left: 0px;
}

.box-1 .content .news-title {
    width: 190px;
}

.box-2 {
    position: relative;
    width: 660px;
    height: 245px;
    overflow: hidden;
}

.box-2 .inner {
    position: absolute;
    background: #fff;
    padding: 10px;
    width: 100000px;
    height: 190px;
}

.box-2 .content {
    float: left;
    margin-right: 10px;
    width: 120px;
    height: 170px;
    overflow: hidden;
}

.box-2 .content .title {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-2 .content .image img {
    width: 120px;
}

.box-3 .content {
    position: relative;
    display: block;
    margin-bottom: 10px;
    background: #fff;
    width: 300px;
    height: 75px;
    overflow: hidden;
}

.box-3 .content .image {
    float: left;
    position: relative;
    width: 105px;
    height: 75px;
    overflow: hidden;
}

.box-3 .content .image img {
    height: 75px;
}

.box-3 .content .news-title {
    float: right;
    width: 185px;
    text-align: left;
    line-height: 22px;
    height: 65px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.box-5 {
    display: table;
    font-weight: bold;
    line-height: 25px;
    width: 100%;
}

.box-5 .content {
    display: table-row;
}

.box-5 .content > div {
    display: table-cell;
    padding: 10px 0px;
    border-bottom: 1px solid #f4f4f4;
}

.box-5 .content:last-child > div {
    border-bottom: none;
}

.box-5 .date {
    width: 60px;
}

.box-5 .category {
    color: #fff;
    text-transform: uppercase;
}

.box-5 .category span {
    display: inline-block;
    padding: 0px 20px;
    background: #f28c03;
}

.box-5 .title {
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 320px;
    white-space: nowrap;
    /* width: 408px; */
}

.box-5 .arrow {
    color: #f28c03;
    text-align: right;
    width: 30px;
}

.box-6 .content {
    display: -webkit-box;
    margin-bottom: 15px;
    padding: 10px;
    background: #fff;
}

.box-6 .content .title span {
    margin-right: 10px;
    font-style: italic;
}

.gununkarikaturu img {
    width: 100%;
}

.ligtablosu {
    position: relative;
    margin-bottom: 20px;
}

.ligtablosu .loading {
    display: none;
}

.ligtablosu .loading object {
    position: absolute;
    top: 42px;
    right: 20px;
    width: 50px;
    height: 50px;
}

.ligtablosu table.ltable th, .ligtablosu table.ltable td {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #fafafa;
}

.ligtablosu table.ltable tr:nth-child(2n) td {
    background: #fff;
}

.ligtablosu table.ltable th:first-child, .ligtablosu table.ltable td:first-child {
    padding: 0px 5px;
    width: 150px;
    max-width: 150px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ligtablosu table.fixture td {
    height: 40px;
    line-height: 40px;
}

.ligtablosu table.fixture tr.date td {
    background: #fafafa;
    text-align: center;
    font-weight: bold;
}

.ligtablosu table.fixture tr.result td {
    width: 5%;
    text-align: center;
    background: #fafafa;
}

.ligtablosu table.fixture tr.result:nth-child(2n) td {
    background: #fff;
}

.ligtablosu table.fixture tr.result td:first-child, .ligtablosu table.fixture tr.result td:last-child {
    padding: 0px 5px;
    max-width: calc(42.5% - 5px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ligtablosu table.fixture tr.result td:first-child {
    text-align: right;
}

.ligtablosu table.fixture tr.result td:last-child {
    text-align: left;
}

.ligtablosu .select-container {
    background: #fff;
    margin-bottom: 10px;
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
}

.ligtablosu select {
    width: 100%;
    background: none;
    color: #000;
    border: none;
    border-radius: 0;
    text-align: center;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.ligtablosu select:focus {
    outline: none;
}

.ligtablosu .tabs {
    margin-bottom: 10px;
    padding: 0px;
    list-style: none;
    height: 40px;
}

.ligtablosu .tabs li {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
}

.ligtablosu .tabs li.active {
    border-bottom: 2px solid #72d324;
}

.ligtablosu .tabs li a {
    display: block;
}

.category h1 {
    height: 40px;
    line-height: 40px;
}

.category h1 i {
    float: right;
    margin-top: 8px;
    font-size: 24px;
}

.news {
    padding: 20px;
    background: #fff;
}

.news h1.title, .category h1.title, .article h1.title {
    margin-top: 0px;
    margin-bottom: 20px;
}

.news .author {
    margin: 0px auto 20px auto;
    padding: 10px;
    width: auto;
    background: #f4f4f4;
}

.news .author .image {
    float: left;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border: 3px solid #f28c03;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
}

.news .author .image img {
    width: 100px;
    min-height: 100px;
}

.news .author .name {
    float: left;
    font-size: 24px;
    height: 100px;
    line-height: 100px;
}

.news .image {
    position: relative;
}

.news .image img {
    width: 100%;
}

.news .image .counter {
    position: absolute;
    padding: 10px;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

.news .nextimage {
    display: none;
}

.news .navigation {
    margin-top: 20px;
}

.news .navigation .prev {
    float: left;
}

.news .navigation .next {
    float: right;
}

.news .text {
    position: relative;
    padding-right: 60px;
    font-size: 16px;
}

.news .text .advertisement {
    float: left;
    margin-right: 20px;
}

.news .text img {
    max-width: 100% !important;
}

.news .buttons {
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
}

.news .buttons .inner {
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
}

.news .buttons .button {
    margin-bottom: 10px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f28c03;
    color: #fff;
    cursor: pointer;
}

.news .buttons .button .fa-minus, .news .buttons .button .fa-plus {
    font-size: 7px;
    vertical-align: middle;
}

.news video {
    width: 100%;
}

.news .info {
    height: 25px;
    line-height: 25px;
}

.news .info .date {
    float: left;
    font-style: italic;
}

.news .info .share {
    float: right;
    font-size: 18px;
}

.news .info .share .tab-right {
    margin-left: 10px;
}

.news .video iframe {
    width: 100%;
}

.share .fa-facebook{
    color:#3b5999
}

.share .fa-twitter{
    color:#55acee
}

.share .fa-google-plus-g{
    color:#dd4b39
}

.share .fa-envelope{
    color:#007ee5
}

.share .fa-whatsapp{
    color:#25d366
}

.news .tags .tag {
    margin-right: 5px;
    padding: 5px;
    background: #f28c03;
    color: #fff;
}

.pagination {
    margin: 0px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #dd4b39;
    border-color: #dd4b39;
}

.pagination > li > a, .pagination > li > span {
    color: #000;
}

.newcomment {
    background: #fff;
    padding: 10px;
}

.comments {
    background: #fff;
    padding: 10px;
}

.comments .name {
    float: left;
    margin-bottom: 10px;
}

.comments .date {
    float: right;
}

.comments .title {
    margin-bottom: 10px;
}

.comments .text {
    margin-bottom: 10px;
}

@media print {
    header, footer, aside, .newcomment, .box-1, .box-6, .advertisement, .breadcrumb, .share, .buttons, .custom-title {
        display: none !important;
    }

    .leftside {
        float: none !important;
        width: 100% !important;
    }
}

footer .content {
    padding-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    height: 190px;
    font-weight: 300;
    font-size: 18px;
}

footer .left {
    float: left;
    padding-top: 44px;
    width: 155px;
    height: 170px;
}

footer .middle {
    float: left;
    width: 670px;
    height: 170px;
}

footer .middle a {
    margin-left: 10px;
    display: inline-block;
    width: 205px;
    text-align: center;
}

footer .middle .pages {
    float: left;
    width: 220px;
    height: 170px;
}

footer .middle .categories {
    float: left;
    width: 440px;
    height: 170px;
}

footer .right {
    float: left;
    padding-top: 24.2px;
    width: 155px;
    height: 170px;
    text-align: right;
}

footer .right img {
    margin-bottom: 20px;
    width: 150px;
}

footer .logo {
    width: 150px;
}

footer .logo img {
    width: 100%;
}

footer .social a {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 15px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    text-align: center;
}

footer .social a i {
    margin-top: 5px;
}

footer .social a.facebook {
    background: #3b5999;
}

footer .social a.twitter {
    background: #55acee;
}

footer .social a.google {
    background:#dd4b39
}

.article .content {
    float: left;
    position: relative;
    font-family: 'Gotham XNarrow Book';
    margin-bottom: 10px;
    margin-right: 10px;
    width: 325px;
    height: 126px;
    background: #f4f4f4;
    overflow: hidden;
}

.article .content:nth-child(2n) {
    margin-right: 0px;
}

.article .content .image {
    position: absolute;
    right: 20px;
    top: 13px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #f28c03;
    overflow: hidden;
}

.article .content .image img {
    width: 100px;
    min-height: 100px;
}

.article .content .title {
    position: absolute;
    width: 170px;
    height: 25px;
    line-height: 25px;
    left: 20px;
    top: 20px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article .content .article {
    position: absolute;
    font-style: italic;
    font-size: 18px;
    left: 20px;
    top: 50px;
    width: 170px;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.newspaper img {
    width: 100%;
    margin-bottom: 20px;
}

.newspapers .content {
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    width: 124px;
    height: 200px;
    background: #fff;
    overflow: hidden;
}

.newspapers .content:nth-child(5n) {
    margin-right: 0px;
}

.newspapers .content .title {
    text-align: center;
    height: 25px;
    line-height: 25px;
}

.newspapers .image {
    width: 100px;
    height: 155px;
    overflow: hidden;
}

.show-others {
    margin-bottom: 10px;
    cursor: pointer;
}

.advertisement-container {
    position: relative;
    margin: 0px auto;
    width: 980px;
}

.advertisement-left {
    position: absolute;
    width: 160px;
    right: 990px;
}

.advertisement-right {
    position: absolute;
    width: 160px;
    left: 990px;
}

.advertisement-popup .advertisement {
    margin: 0px;
}

.advertisement-popup .modal-content {
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.advertisement-popup .modal-body {
    padding: 0px;
}

.advertisement-popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    opacity: 1;
    letter-spacing: 1px;
}