﻿body {
    padding: 70px 0px 0px;
}

img {
    border: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

    a:visited {
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
    }

a.share:hover, a.share:visited, a.share:focus {
    text-decoration: none;
}

h1 {
    margin-top: 0px;
}

h1 .small {
    float: right;
    line-height: 39px;
    height: 39px;
}

textarea {
    min-height: 100px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.fileinput {
    margin-bottom: 0px;
}

.fileinput-preview {
    margin-top: 10px;
    text-align: center;
    background: #efefef;
    border-radius: 5px;
}

    .fileinput-preview img {
        max-width: 90%;
    }

    .fileinput-preview.nocrop img {
        margin: 10px;
    }

    .fileinput-preview.multiple {
        background: none;
        text-align: center;
    }

    .fileinput-preview.multiple img {
        background: #efefef;
        padding: 5px;
        height: 100px;
    }

    .fileinput-filename {
        height: 20px;
        line-height: 20px;
        width: 90%;
    }

    .fileinput-preview-exists {
        margin-top: 10px;
        background: #efefef;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
    }

    .fileinput-preview-exists img {
        max-width: 90%;
    }

.sub-details {
    display: none;
}

.group {
    border: 2px solid #efefef;
    padding: 15px 15px 0px 15px;
    margin-bottom: 15px;
}

.label-info {
    background: #286090;
}

#files .form-group {
	margin: 10px 0px;
}

#files img {
    float: left;
    width: 150px;
}

#files textarea {
    float: right;
	width: calc(100% - 170px);
}

.fa-facebook{
    color:#3b5999
}

.fa-twitter{
    color:#55acee
}